<div class="flex flex-row items-center justify-between container">
  <div
    class="flex-1 overflow-hidden sm:block hidden sm:h-[320px] lg:h-[500px] my-10"
  >
    <img
      src="/images/login.jpg"
      alt="login"
      title="login"
      class="w-full h-full object-cover"
    />
  </div>
  <form
    action="/auth/login"
    method="post"
    class="flex-1 py-10 flex flex-col items-center justify-center gap-3"
  >
    <h1
      class="text-black leading-normal font-semibold text-2xl sm:text-3xl"
    >Login</h1>
    <input
      type="text"
      name="email"
      placeholder="Email"
      id="email"
      required="required"
      class="px-5 py-3 bg-white border-2 border-gray-300 w-3/4 sm:w-2/5 rounded-lg"
    />
    <input
      type="password"
      name="password"
      placeholder="Password"
      id="password"
      required="required"
      class="px-5 py-3 bg-white border-2 border-gray-300 w-3/4 sm:w-2/5 rounded-lg"
    />
    <button
      class="py-3 px-5 bg-green-700 text-white w-3/4 sm:w-2/5 rounded-lg"
    >Submit</button>
  </form>
</div>