<header
  class="flex flex-row items-center justify-between container border-b border-b-gray-200"
>
  <a
    href="/"
    class="text-2xl leading-normal font-black text-blue-700 uppercase"
  >Express</a>
  <ul class="md:flex hidden flex-row items-center justify-start gap-5">
    <li>
      <a href="/products">Products</a>
    </li>
    <li>
      <a href="/products/add">Add</a>
    </li>
  </ul>
  <ul class="flex flex-row py-3">
    <li>
      <a href="/auth/register">
        <button
          class="px-5 py-3 bg-green-500 text-white border-none rounded-tl-xl rounded-bl-xl"
        >
          Register
        </button></a>
    </li>
    <li>
      <a href="/auth/login">
        <button
          class="px-5 py-3 bg-red-500 text-white border-none rounded-tr-xl rounded-br-xl"
        >
          Login
        </button>
      </a>
    </li>
  </ul>
</header>