/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles */
.container {
  max-width: 1520px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 1540px) {
  .container {
    padding: 0;
  }
}
